/* ------------------------------Navbar CSS -----------------------------------*/
a.btn-link-3 {
    color: white;
    background: salmon;
    position: relative;
    display: inline-block;
    margin-left: 20px;
    padding: 3px 15px;
    border-radius: 6px;
}


.brand {
    font-weight: 700;
    font-size: 20px;
}

a.navbar-brand {
    /* background-image: url('../images/logo-dark.png'); */
    /* width: 25%; */
    color: gray;
    font-size: 25px;
}

a.btn-link-3:hover {
    color: white;
}

div.dropdown-menu.show {
    background-color: transparent;
    border: none;
}

a.dropdown-item:hover {
    background-color: #ebc79e;
}

a.nav-link,
a.nav-link.dropdown-toggle,
a.btn.btn-link-3 {
    font-size: 14px;
    font-weight: 300;
    padding-left: 20px;
    font-family: "Josefin Sans", sans-serif;
}

a.nav-link {
    color: white;
    text-decoration: none;
}

/* a.navbar-brand {
    background-image: url('../images/logo.png');
    width: 10%;
    height: 30px;
    transition: all 0.2s ease;
} */

/* .header.active a.navbar-brand {
    background-image: url('../images/logo-dark.png');
} */

.header {
    position: fixed;
    width: 100%;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    background-color: transparent;
}

.header {
    color: white;
}

.header.active {
    background: #fff;
    /* -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
			-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
			box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); */
}

.header.active * {
    color: slategray;
}

div.dropdown-menu.show.active {
    background-color: white;
}

div.dropdown-menu.active {
    background-color: white;
}

a.btn-link-3.active {
    color: white;
}

.fas.fa-bars.active {
    color: slategray;
}

@media only screen and (max-width: 992px) {

    /* For tablets: */
    /* a.navbar-brand {
        width: 15%;
    } */
    .fas.fa-bars {
        color: white;
    }

    a.btn-link-3 {
        position: relative;
        display: inline-block;
        margin-left: 0px;
        margin-bottom: 10px;
        padding: 3px 15px;
        border-radius: 6px;
    }

    a.nav-link.dropdown-toggle {
        padding-left: 0px;
    }
}

@media only screen and (max-width: 480px) {

    /* For phones: */
    .header {
        background-color: white;
    }

    .header * {
        color: slategray;
    }

    a.nav-link {
        color: slategray;
        text-decoration: none;
    }

    a.btn-link-3 {
        position: relative;
        display: inline-block;
        margin-left: 0px;
        margin-bottom: 10px;
        padding: 3px 15px;
        border-radius: 6px;
    }

    a.nav-link.dropdown-toggle {
        padding-left: 0px;
    }

    .fas.fa-bars {
        color: slategray;
    }
}

/* ------------------------------Navbar CSS ENDS-----------------------------------*/